.card {
  border: 1px solid $color-line;
  border-radius: 4px;
  padding: 10px;
}
.card__header {
  display: flex;
}
.card__controls {
  flex-shrink: 0;
  line-height: 0;
  .button-square {
    margin-left: 20px;
  }
}
.card__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 24px;
}