$color-turquoise: #1D7373;
$color-white: #fff;
$color-blue: #3CA0D0;
$color-grey: #828282;
$color-black: #000;

$color-main: $color-turquoise;
$color-secondary: $color-blue;
$color-line: $color-grey;
